.SideBar {
  background: $sidebar-background;
  color: $sidebar-color;
}
.SideBar-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  a {
    color: $sidenav-link-color;
    padding: $global-padding-small $global-padding;
    &:hover,
    &:active,
    &:focus {
      color: $sidenav-link-color-hover;
      text-decoration: none;
    }
  }
}
