.GridExample {
  .rev-Col {
    padding: $grid-column-padding;
  }
  .GridExample-rev-Col {
    background: rgba($rev-yellow, 0.65);
    border-radius: $global-radius;
    color: $white;
    display: block;
    font-size: $global-font-size-tiny;
    font-weight: $global-weight-bold;
    padding: $global-padding;
    text-align: center;
  }
  .rev-Row--stretch .GridExample-rev-Col {
    height: 100%;
  }
  .rev-Row--baseline h1 {
    color: $white;
  }
}
