// Global Width
$global-width: 100%;
$grid-columns: 12;

// Global Fonts
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, serif;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;

$global-font-size-tiny: 12px;
$global-font-size-small: 14px;
$global-font-size: 16px;
$global-font-size-large: 18px;
$global-font-size-larger: 20px;

$global-weight-normal: normal;
$global-weight-bold: bold;
$global-lineheight: 1.5;

$global-radius: 2px;
$global-rounded: 100000px;
$global-box-shadow: 0 1px 6px 0 $black-15;

// Global Padding
// $global-padding-tiny: rem-calc(5);
$global-padding-small: rem-calc(10);
$global-padding: rem-calc(20);
$global-padding-medium: rem-calc(30);
$global-padding-large: rem-calc(40);
// $global-padding-larger: rem-calc(50);
// $global-padding-largest: rem-calc(60);
// $global-padding-jumbo: rem-calc(80);

// Global Margin
// $global-margin-tiny: $global-padding-tiny;
$global-margin-small: $global-padding-small;
$global-margin: $global-padding;
$global-margin-medium: $global-padding-medium;
$global-margin-large: $global-padding-large;
// $global-margin-larger: $global-padding-larger;
// $global-margin-largest: $global-padding-largest;
// $global-margin-jumbo: $global-padding-jumbo;

$disabled-opacity: 0.25;

// Breakpoints
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1240px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small medium large xlarge xxlarge);

// Grid
$global-flexbox: false;
$grid-row-width: $global-width;
$grid-gutter: $global-padding;
$grid-column-padding: calc(#{$grid-gutter} / 2);

// Body Vars
$body-background: $lighter-gray;
$body-font-color: $dark-gray;
$body-font-family: $font-family-sans-serif;
$body-antialiased: true;

// Header Vars
$header-sizes: (
  small: (
    'h1': 32,
    'h2': 28,
    'h3': 20,
    'h4': 18,
    'h5': 16,
    'h6': 14,
  ),
  medium: (
    'h1': 38,
    'h2': 32,
    'h3': 22,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
);

$header-color: $body-font-color;
$header-font-family: $font-family-sans-serif;
$header-font-style: normal;
$header-font-weight: $global-weight-normal;
// $header-lineheight: $global-lineheight;
// $header-margin-bottom: 0;
// $header-small-font-color: $header-color;

$subheader-lineheight: $global-lineheight;
$subheader-color: $header-color;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0;
$subheader-margin-bottom: 0;

// Paragraph Vars
$paragraph-lineheight: $global-lineheight;
$paragraph-margin-bottom: $global-margin;
$paragraph-text-rendering: optimizeLegibility;

// Anchor Vars
$anchor-color: $primary-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// HR Vars
$hr-width: $global-width;
$hr-border: 1px solid $divider-color;
$hr-margin: $global-padding-large auto;

// Image Blur
$image-blur: blur(8px);
$no-image-blur: blur(0px);

// Button Vars
$button-background: $black;
$button-background-hover: $primary-color;
$button-color: $white;
$button-margin: $global-padding auto;
$button-radius: 0;
$button-sizes: (
  tiny: $global-font-size-tiny,
  small: $global-font-size-small,
  default: $global-font-size,
  large: $global-font-size-large,
);
$button-opacity-disabled: $disabled-opacity;

// CLOSE BUTTON
$closebutton-color: $dark-gray;
$closebutton-color-hover: $black;
$closebutton-lineheight: $global-lineheight;
$closebutton-position: right top;
$closebutton-size: $global-font-size;
