.rev-Menu {
  &.rev-Menu--right {
    @include flex(center, row, flex-end, no-wrap);
    height: 100%;
  }
}
.rev-Menu-item {
  margin: 0;
  padding: 0;
  a {
    display: block;
    height: 100%;
    padding: $global-vertical-space / 2 $global-horizontal-space $global-vertical-space / 2 $global-horizontal-space;
  }
  .rev-TopBar-left & {
    a {
      padding-left: 0;
    }
  }
}
