// default component vars listed at the top of the component stylesheet
// those vars are transferred to rev-settings AND are commented out
// this way updates can be made to a component by uncommenting settings vars
$topbar-bkgd: $body-bkgd !default;
$topbar-color: $body-font-color !default;
$topbar-height: 60px !default;

.rev-TopBar {
  background: $topbar-bkgd;
  color: $topbar-color;
  height: $topbar-height;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: $above;
  &.rev-TopBar--inverse {
    background: $body-font-color;
    color: $body-bkgd;
  }
  &.rev-TopBar--fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .rev-Row {
    @include flex(stretch, row);
  }
}
.rev-TopBar-title,
.rev-TopBar-left,
.rev-TopBar-right {
  width: auto;
  ul {
    margin: 0;
    padding: 0;
  }
}
.rev-TopBar-title {
  line-height: $topbar-height;
}
